* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    height: 75%;
    width: 75%;
    flex-direction: column;
    display: flex;
    border: black solid 3px;
}
.arriba {
    display: flex;
    height: 25%;
    justify-content: center;
    align-items: flex-end;
}
.arriba img {
    max-width: 33%;
    max-height: 100%;
}
.centro {
    height: 50%;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.centro img {
    max-height: 100%;
}
.izquierda {
    -webkit-transform: rotate(270deg);
    max-width: 25%;
}
.mesa {
    max-width: 50%;
}
.derecha {
    -webkit-transform: rotate(90deg);
    max-width: 25%;
}
.abajo {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.abajo img {
    -webkit-transform: rotate(180deg);
    max-width: 33%;
    max-height: 100%;
}
.oculto {
    visibility: hidden;
}